# exemple du .env

KEEPASS_DB_PATH = "chemin/nom_de_la_base.kdbx"
KEEPASS_KEY_PATH = "/chemin_du_secret/nom_de_la_cle.key"

# Liste des sites
SITES =Site1,Site2,Site3

# Regex des noms de switch 
SWITCH_REGEX = ^regex-qui-matche-le-nom-des-switchs
